@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: linear-gradient(135deg, rgba(160,111,214,1) 0%, rgba(234,95,208,1) 100%); 
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: linear-gradient(135deg, rgba(160,111,214,1) 0%, rgba(234,95,208,1) 100%); 
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
